---
import MainContainer from "src/components/MainContainer.astro";
import Layout from "../components/Layout.astro";
import Avatar from "../images/avatar.jpeg";
---

<Layout title="Astroid Owanyge">
  <MainContainer>
    <div class="flex flex-col md:flex-row items-center space-x-4 shadow-box-up dark:shadow-orange-dark p-4 md:p-6 rounded-xl">
      <img
        class="p-1 mb-2 md:mb-0 w-40 h-40 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
        src={Avatar}
        alt="Bordered avatar"
      />
      <div class="font-medium dark:text-white">
        <div class="mb-2 md:mb-0">Jekyll the Jedi</div>
        <div class="text-xs text-gray-500 dark:text-gray-400">
          <p>After esacping a near disaster with the 0waynge planet I've decided to settle on planet Earth. Although the force remains strong, the framework I've developed is strong enough to resist then power of the empire.</p>
        </div>
      </div>
    </div>
  </MainContainer>
</Layout>
